@page "/colours/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]


<h3 class ="card-title">Car colours</h3>
<br />
@if (Colours == null)
{
    <div class="alert alert-info">Loading colours...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var colour in Colours)
            {
                <tr>
                    <td>@colour.Name</td>
                    <td>
                        <a href="/colour/view/@colour.id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/colour/edit/@colour.id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(colour.id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Colour>? Colours;

    protected async override Task OnInitializedAsync()
    {
        Colours = await _client.GetFromJsonAsync<List<Colour>>($"{Endpoints.ColoursEndpoint}");
    }

    async Task Delete(int colourId)
    {
        var colour = Colours.First(q => q.id == colourId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {colour.Name}?");
        if (Colours != null)
        {
             if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.ColoursEndpoint}/{colourId}");
                await OnInitializedAsync();
            }
        }

    }
}
